<!DOCTYPE html>
<html>
  <head>
    <title>Chess Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chess.js@1.0.0-beta.0/chess.min.js"></script>
    <style>
      body {
        text-align: center;
        font-family: sans-serif;
      }
      #moves {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1 style="color: red">Multiplayer Chess Game</h1>
    <div id="board">Chess will go here</div>
    <div id="moves"></div>
    <script src="/js/client.js"></script>
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </body>
</html>
