<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <h2>this is a webside for backend by ejs</h2>

    <h3>now sum of 2+2 is <%= 2+2 %></h3>
    <script src="./javascripts/script.js"></script>
  </body>
</html>
